[cmdk-group-heading] {
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 500;
  color: hsl(var(--muted-foreground));
  text-transform: capitalize;
}

[cmdk-item] {
  content-visibility: auto;
  cursor: pointer;
  height: 40px;
  border-radius: 6px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 12px;
  color: hsl(var(--foreground));
  user-select: none;
  will-change: background, color;
  transition: all 150ms ease;
}

[cmdk-item][data-selected="true"],
[cmdk-item]:hover {
  background: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}

[cmdk-item][data-disabled="true"] {
  color: hsl(var(--muted-foreground));
  cursor: not-allowed;
}

[cmdk-list] {
  min-height: 50px;
  transition: height 100ms ease;
}
